:root {
  --primary-color: rgb(228, 227, 227);
  --secondary-color: rgb(88, 88, 252);
  --dark-color: #333;
  --lobster-font: "Lobster", cursive;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(175deg, var(--secondary-color), pink);
  width: 100vw;
  height: 110vh;
  text-align: center;
  overflow-x: hidden;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 40rem;
  max-width: 80%;
}

/* heading */
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.profile-img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.heading-text {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2.2rem;
  font-family: var(--lobster-font);
  text-shadow: 1px 1px 2px black;
  margin-bottom: 0;
}

.heading-sub-title {
  color: var(--primary-color);
  font-size: 1.05rem;
  margin-top: 5px;
  margin-bottom: 0;
  text-shadow: 1px 1px 2px black;
}

/* content */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.content-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  border: 2px solid var(--primary-color);
  width: 100%;
  padding: 15px 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.content-link:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* footer */
footer {
  position: absolute;
  bottom: 10px;
  width: 100vw;
}

.footer-text {
  text-align: center;
  margin: 0 0 10px;
  color: var(--primary-color);
}
